<!DOCTYPE html>
<html>
    <head>
        <title>Product List</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Cost</th>
            </tr>
            {% for product in products %}
            <tr>
                <td><a href="{{product[1]}}">{{product[0]}}</a></td>
                <td>{{product[2]}}</td>
                <td>{{product[3]}}</td>
                <td>{{product[4]}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
