<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
</head>
<body>
    <h1>Settings</h1>
    <form method="post">
        pH High: <input type="number" name="pH_high" value="{{ pH_high }}"><br>
        pH Low: <input type="number" name="pH_low" value="{{ pH_low }}"><br>
        EC High: <input type="number" name="ec_high" value="{{ ec_high }}"><br>
        EC Low: <input type="number" name="ec_low" value="{{ ec_low }}"><br>
        Water Temp High: <input type="number" name="water_temp_high" value="{{ water_temp_high }}"><br>
        Water Temp Low: <input type="number" name="water_temp_low" value="{{ water_temp_low }}"><br>
        Light Timer: <input type="number" name="light_timer" value="{{ light_timer }}"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
